body,
nav {
  background-color: #0728b3;
}

.space {
  height: 100px;
}

.navbar-brand {
  font-size: 30px;
}
h2 {
  color: white;
  text-align: center;
}

.card-img-top {
  filter: saturate(1.2);
}
